<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>
    <template id="my-app">
        <!-- 1.textarea文本输入框（cols未显示的列数，rows为显示的行数） -->
        <div>1.自我介绍</div>
        <textarea name="" id="" cols="30" rows="3" v-model="intro"></textarea>
        <p>文本输入框的值：{{intro}}</p>
        <!-- 2.checkbox单选框（label元素的作用是当单击“同意协议”时，会自动触发input的单击） -->
        <span>2.</span>
        <label for="agree">
            <!-- id的值需要和label元素for属性的值对应 -->
            <input type="checkbox" id="agree" v-model="isAgree">同意协议
        </label>
        <p>单选框的值：{{isAgree}}</p>
        <!-- 3.checkbox多选框（必须的每个表单元素添加value属性，切v-model指令需绑定同一个数组，用于存放选中的值） -->
        <span>3.爱好：</span>
        <label for="basketball">
            <input type="checkbox" name="" id="basketball" v-model="hobbies" value="basketball">篮球
        </label>
        <label for="football">
            <input type="checkbox" id="football" v-model="hobbies" value="football">足球
        </label>
        <label for="tennis">
            <input type="checkbox" id="tennis" v-model="hobbies" value="tennis">网球
        </label>
        <p>多选框的值：{{hobbies}}</p>

        <!-- 4.radio单选按钮（必须为每个表单元素添加value属性，且v-model指令需绑定同一个数组，用于存放选中的值） -->
        <span>4.性别</span>
        <label for="male">
            <input type="radio" id="male" v-model="gender" value="male">男
        </label>
        <label for="female">
            <input type="radio" id="female" v-model="gender" value="female">女
        </label>
        <p>单选按钮的值：{{gender}}</p>
        <!-- 5.select下拉选择（multiple支持多选，多选时需按shift键；size为默认展示个数） -->
        <span>5.喜欢的水果：</span>
        <select name="" id="" size="2" multiple v-model="fruit">
            <option value="apple">苹果</option>
            <option value="orange">橘子</option>
            <option value="banana">香蕉</option>
        </select>
        <p>选择的值：{{fruit}}</p>
    </template>
    <script src="./Vue.js源码/vue.js"></script>
    <script>
        const App = {
            template: '#my-app',
            data() {
                return {
                    // 以下变量用于存放表单元素中输入的值
                    intro: 'Hello World',//自我介绍
                    isAgree: 'false',//同意协议
                    hobbies: ['basketball'],//爱好
                    gender: '',//性别
                    fruit: ['orange']//喜欢的水果
                }
            },
        };
        Vue.createApp(App).mount("#app");
    </script>
</body>

</html>